:root {
  --first-color: #e6e6e6;
  --second-color: #131313;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 300px;
  height: 300px;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border: 3px solid #471047;
}

#result{
    text-shadow: 1px 1px 2px #471047;
    font-size: 30px;
}