:root {
  --first-color: #e6e6e6;
  --second-color: #131313;
}

body {
  color: #471047;
  text-align: center;
  overflow: hidden;
  transition: 2s;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 198px;
  height: 198px;
}

td {
  width: 66px;
  height: 66px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border: 3px solid #471047;
}

#result {
  text-shadow: 1px 1px 2px #471047;
  font-size: 30px;
}

@keyframes papel-picado {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }

  80% {
    transform: translate(var(--x), var(--y));
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  100% {
    transform: translate(var(--x), var(--y));
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 100%;
  }
}

.papel-picado {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("assets/balloons.png");
  background-size: cover;
  animation: papel-picado 2s ease-in forwards;
  animation-fill-mode: forwards;
}
